body {
  font-family: "Candara", monospace;
  background-color: #f8f8f8;
  color: #474747;
}

header {
  max-width: 680px;
  margin: 2em auto;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

footer {
  max-width: 800px;
  margin: 2em auto;
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 2rem;
}

main {
  max-width: 680px;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

nav {
  background-color: #e0e9f5;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin: 0 20px;
    color: #a9b1b1;
    text-decoration: none;
    font-size: 1.2rem;
    &.active {
      color: #1245ba;
      font-size: 1.2rem;
    }
  }
}

/*이 코드는 추후에 nesting이 지원이 되면 삭제할 코드*/
/* nav a {
  margin: 0 20px;
  color: #a9b1b1;
  text-decoration: none;
  font-size: 1.6rem;
}
nav a:active {
  color: #1245ba;
  font-size: 1.6rem;
} */
/*이 코드는 추후에 nesting이 지원이 되면 삭제할 코드*/

h1 {
  font-size: 1.4rem;
  color: #1245ba;
}

.title {
  font-size: 2rem;
}

.profileBox {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  gap: 1rem;
}

.imgBox {
  width: 50%;
  height: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

.columnImg {
  width: 100%;
  height: 100%;
}

#githublink {
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  header {
    font-size: 1rem;
  }
  footer {
    font-size: 0.7rem;
  }

  #githublink {
    font-size: 0.8rem;
  }
  main {
    font-size: 1rem;
  }
  .cvlink {
    font-size: 1rem;
  }

  nav a,
  nav a.active,
  nav a:hover,
  h1,
  a {
    font-size: 1.2rem;
  }
}
